VITE_CLOUDINARY_CLOUD_NAME=cloudinary
VITE_CLOUDINARY_API_KEY=259979698823643
VITE_CLOUDINARY_API_SECRET=uiLS-pzJBomzusODBKdajLuDnoc
VITE_CLOUDINARY_UPLOAD_PRESET=puja-ecom
VITE_CLOUDINARY_ASSET_FOLDER=product/images

VITE_FIREBASE_API_KEY=AIzaSyBhGagswGiCGRaltcm-uVXc-8twSPwELuA
VITE_FIREBASE_AUTH_DOMAIN=rachnacreation-2adde.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rachnacreation-2adde
VITE_FIREBASE_STORAGE_BUCKET=rachnacreation-2adde.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=833907331572
VITE_FIREBASE_APP_ID=1:833907331572:web:06ebbca502476531cb69a1
